@font-face {
    font-family: 'Optima';
    src: url('./OPTIMA.TTF');
}
body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    font-family: Optima, Arial, Helvetica, sans-serif;
}
header {
    background-image: url('../img/zonamap50.png');
    text-align: center;
    position: sticky;
    top: 0%;
    margin-bottom: 0px;
}
header img {
    height: 75px;
}
header ul {
    content: "";
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: justify;
    margin-left: -10%;
}
header ul li .btn {
    border-radius: 10%;
    background-color: #b1feb16b;
    width: auto;
    display: flex;
    justify-content: center;
}
header .btn {
    color: #f5f5f5;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
.person_header {
    background-color: #f5f5f5;
    text-align: center;
    margin-bottom: 10px;
}
.person_header img{
    width: 50%;
}
main {
    display: flex;
    flex: auto;
    flex-direction: column;
}
article {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px;
}
article img {
    width: 40%;
    margin-top: 0;
    margin-inline: auto;
}
aside {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.flex-container > div {
    border-radius: 10%;
    background-color: #b1feb16b;
    padding-top: 10px;
    margin: auto;
    margin-top: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (orientation: portrait) {
    .flex-container > div {
        font-size: small;
    }
}
@media only screen and (orientation: landscape) {
    .flex-container > div {
        font-size: large;
    }
}
footer {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
}
personal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (orientation: landscape) {
    .personal > main {
        display: flex;
        flex: auto;
        flex-direction: column;
    }
}
@media only screen and (orientation: portrait) {
    .personal > main {
        display: flex;
        flex: auto;
        flex-direction: row;
    }
}
.personal .main > img {
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
}
.personal .main > .paragraph {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 70%;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
}
.personal > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.ourcrew > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 5px;
}
a:link {
    color: #000;
    text-decoration: none;
}
a:visited {
    color: #000;
}